
	  .iti-phone-input {
width: 100%;
padding: 10px;
box-sizing: border-box;
margin-top: 10px;
}

/* Make the intl-tel-input wrapper full width */
.iti.iti--separate-dial-code {
width: 100%;
}
.error{ color:red; }

    
	 
	  .select2-container--default .select2-selection--single .select2-selection__rendered {
		color: #444;
		line-height: 36px;
		background-color: #fff !important;
		background-clip: padding-box !important;
		border: 1px solid #ced4da !important;
	}
	.select2-container--default .select2-selection--single .select2-selection__rendered {
		color: #444;
		line-height: 38px!important;
	}
	.select2-container--default .select2-selection--single {
		border: none!important;
	}
	  
   .faq-section .accordion-item {
     border: 1px solid #dee2e6;
     margin-bottom: 10px;
   }

   .faq-section .accordion-button,
   .faq-section .accordion-body {
     font-family: "Mulish", sans-serif;
     font-size: 16px;
   }

   .faq-section .accordion-button {
     color: #106d91;
     font-weight: 600;
   }

   .faq-section .accordion-button:not(.collapsed) {
     background-color: #f5f9fb;
     color: #106d91;
     box-shadow: none;
   }

   .faq-section .accordion-button:focus {
     box-shadow: none;
   }
	 
   